
  <div class="container bcontent">
      <h2 style="text-align: center;">Welcome to my website App</h2>
      <hr />
      <div class="card-group">
       <div class="card">
          <img class="card-img-top" src="assets/image/shivam.jpeg" alt="shivam Kumar">
          <div class="card-body">
              <h5 class="card-title">Shivam the charmer</h5>
              <p class="card-text">welocme to My Profile</p>
          </div>
          <div class="card-footer">
              <small class="text-muted">30 mins ago</small>
          </div>
          <div class="container bcontent">
              
              <button type="button" class="btn btn-primary" disabled>
                  <span class="spinner-border spinner-border-md"></span> Loading...
              </button>
              
          </div>
      </div>
       <div class="card">
          <img class="card-img-top" src="assets/image/shivam.jpeg" alt="shivam Kumar">
          <div class="card-body">
              <h5 class="card-title">Shivam the Actor</h5>
              <p class="card-text">I am a Actor</p>
          </div>
          <div class="card-footer">
              <small class="text-muted">15 mins ago</small>
          </div>
          <div class="container bcontent">
              
              <button type="button" class="btn btn-primary" disabled>
                  <span class="spinner-border spinner-border-md"></span> Loading...
              </button>
              
          </div>
      </div>
       <div class="card">
          <img class="card-img-top" src="assets/image/shivam.jpeg" alt="shivam Kumar">
          <div class="card-body">
              <h5 class="card-title">Shivam the student</h5>
              <p class="card-text">welocme to my school Profile.</p>
          </div>
          <div class="card-footer">
              <small class="text-muted">10 mins ago</small>
          </div>
          <div class="container bcontent">
              
              <button type="button" class="btn btn-primary" disabled>
                  <span class="spinner-border spinner-border-md"></span> Loading...
              </button>
              
          </div>
      </div>
      </div>       
  </div>